.main img {
    width: 300px;
}


.header {
    padding: 60px;
    text-align: center;
    background: #0a0a0a;
    color: white;
    font-size: 30px;
  }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0a0a0a;
    color: white;
    text-align: center;
  }

  .button {
    border: none;
    color: white;
    background-color: #0a0a0a;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
